body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-bottom:  1px solid  black;
    border-width: px;
    align-items: center;
    padding-top:1%;
    padding-bottom: 1%;
    text-decoration: none;
}

.fixed {
    display: flex;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
    text-decoration: none;
}

.navbarLogo {
    width: 70%;
    height: auto;
    margin-bottom: 0px;
}

.listMovie {
    height: auto;
    width: 80%;
}

.logoutLogo {
    height: auto;
    width: 60%;
}

.hide {
    display: none;
    text-decoration: none;
}

.navbar__item {
        display: flex;
        flex-direction: row;
        row-gap: 10px;
        border: 1px  rgb(128, 128, 128);
        width: 200px;
        transition: transform .2s;
        text-decoration: none;
    }

    .navbar__item_side {
        display: flex;
        flex-direction: row;
        row-gap: 1px;
        border: 1px  rgb(128, 128, 128);
        width: 200px;
        transition: transform .2s;
        text-decoration: none;
    }

.navbar__item:hover {
    transform: scale(1.2)
}

.navbar__item_side:hover {
    transform: scale(1.2)
}


.navbar__link {
    color: rgb(0, 0, 0);
    padding-top: 10px;
    flex-basis: 20%;
    list-style-type: none;
    text-decoration: none;
}


.homeButton {
    display: flex;
    justify-content: flex-start;
    height: 75px;
    padding-right: 50px;
    text-decoration: none;
    transition: transform .2s;
}

.homeButton:hover {
    transform: scale(1.05)
}